<div class="container">
    <br>
    <h1>PIPES</h1>
    <hr>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">VARIABLE</th>
                <th scope="col">PIPE</th>
                <th scope="col">RESULT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Roberto</td>
                <td>uppercase</td>
                <td>{{name|uppercase}}</td>
            </tr>
            <tr>
                <td>Roberto</td>
                <td>lowercase</td>
                <td>{{name|lowercase}}</td>
            </tr>
            <tr>
                <td>Roberto</td>
                <td>slice:3</td>
                <td>{{name|slice:3}}</td>
            </tr>
            <tr>
                <td>Roberto</td>
                <td>slice:0:3</td>
                <td>{{name|slice:0:3}}</td>
            </tr>
            <tr>
                <td>1,2,3,4,5,6,7,8,9,10</td>
                <td>slice:1:6</td>
                <td>{{array|slice:1:6}}</td>
            </tr>
            <tr>
                <td>3.14159265359</td>
                <!-- n.ints . n.mindec - n.maxdec -->
                <td>number:'3.0-0'</td>
                <td>{{pi|number:'3.0-0'}}</td>
            </tr>
            <tr>
                <td>3.14159265359</td>
                <!-- n.ints . n.mindec - n.maxdec -->
                <td>number:'1.0-2'</td>
                <td>{{pi|number:'1.0-2'}}</td>
            </tr>
            <tr>
                <td>0.368</td>
                <td>percent</td>
                <td>{{someNumber|percent}}</td>
            </tr>
            <tr>
                <td>0.368</td>
                <td>percent:'2.2-2'</td>
                <td>{{someNumber|percent:'2.2-2'}}</td>
            </tr>
            <tr>
                <td>1234.5</td>
                <td>currency</td>
                <td>{{iso4217|currency}}</td>
            </tr>
            <tr>
                <td>1234.5</td>
                <td>currency:'EUR'</td>
                <!-- 'EUR':true-->
                <td>{{iso4217|currency:'EUR'}}</td>
            </tr>
            <tr>
                <td>1234.5</td>
                <td>currency:'EUR':true:'4.0-0'</td>
                <td>{{iso4217|currency:'EUR':true:'4.0-0'}}</td>
            </tr>
            <tr>
                <td>1234.5</td>
                <td>number:'.2-2'</td>
                <td>{{iso4217|number:'.2-2'}}</td>
            </tr>
        </tbody>
    </table>
    <h4>Slice array</h4>
    <ul>
        <li *ngFor="let a of array | slice:3:15">{{a}}</li>
    </ul>
</div>