<h1>Heroes: <small>{{_searchText}}</small></h1>
<hr>

<div class="row" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No heroes were found for {{_searchText}}.
        </div>
    </div>
</div>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.name">
        <div class="card-body">
            <h5 class="card-title">{{heroe.name}}</h5>
            <p class="card-text">{{heroe.abi}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.appear}}</small></p>
            <a [routerLink]="['/heroe', heroe.name]" class="btn btn-outline-primary btn-block">More info... [slug]</a>
        </div>
    </div>
</div>