<div class="row">
    <div class="col">
        <h1 class="text-center">*ngIf</h1>
        <hr>
        <div *ngIf="toggleBox" class="card text-white bg-info mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{box.titleBox}}</h5>
                <p class="card-text">{{box.contentBox}}</p>
            </div>
        </div>
        <button (click)="toggleBox = !toggleBox" class="btn btn-outline-info btn-block">Show/Hide</button>
    </div>
    <div class="col">
        <h1 class="text-center">*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let champs of lolChamps; let i = index" class="list-group-item">{{i+1}} - {{champs}}</li>
        </ul>
    </div>
</div>